.logo {
    letter-spacing: 5px;
}
.hero {
    background-color: #e2edff;
    padding-top: 6rem;
    border-bottom: none;
}
#about {
    border-top: none;
}
#project {
    background-color: #e2edff;
}
section {
    padding-top: 5rem;
}