body {
    min-height: 3000px;
}
.logo {
    letter-spacing: 5px;
}
.hero {
    background-color: #e2edff;
    padding-top: 5rem;
}
#project {
    background-color: #e2edff;
}
/* section {
    padding-top: 5rem;
} */